.contenedor {
    height: 100vh;
}
.contNav{
    position: sticky;
    top: 0;
    width: 10rem;
    background-color: #ffffff;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-right: 1px solid #c3c4c7;
    box-sizing: border-box;
    height: 100%;
    padding: 1rem 0;
}			
.contNav ul {
    list-style:none;
}
.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}
.nav li a {
    color: none;
    text-decoration:none;
    padding-left: 1rem;
    height: 3rem;
    display:block;
    min-width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    transition: 0.3s all;
}
.select a{
    color: #5175f4; 
}
.noSelect a{
    color: #c7c6c3;
}
.prueba a{
    color: #5175f4;
}
#proyectos{
    position: relative;
}
.nav li a:hover {
    background-color:#e3e3e3;
    color: gray;
}
.nav li ul {
    display:none;
    position:absolute;
    left: 10rem;
    top: 0;
    width: 100%;
    background-color: gainsboro;
    padding: 0;
    animation: modal 0.3s;
}
.nav li ul li > a {
    color: none;
}
@keyframes modal {
    0% {opacity: 20%;}
}
.nav li:hover > ul {
    display:block;
}
.nav li ul li {
    position:relative;
}
.contImage {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
}
.contImage img {
    object-fit: contain;
    width: 70%;
}