.contenedor{
    display: flex;
    height: 100vh;
    width: 100%;
}
.tablas {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 4rem;
    z-index: -100;
    background-color: #f0f0f1;
}