.centrar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 1200px;
}

.contenedor h2 {
    font-size: 30px;
}

.contenedor p {
    font-size: 30px;
}

.contenedor img {
    filter: hue-rotate(460deg);
}

.contenedor button {
    padding: 0;
    text-transform: uppercase;
    font-weight: 800;
    border: none;
    border-bottom: 2px solid black;
    transition: 0.3s all;
}

.contenedor button:hover {
    color: rgb(50, 50, 50);
    cursor: pointer;
    border-bottom: 2px solid rgb(50, 50, 50);
}

@media only screen and (max-width: 768px) {
    .contenedor {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
        padding: 0 6rem;
    }
}
@media only screen and (max-width: 600px) {
    .contenedor {
        width: 100%;
        padding: 0 1rem;
    }
    .contLogo {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }
    .contenedor img {
       width: 50%;
    }
}