.centrar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.fondo{
    max-height: 100vh;
    width: 100%;
    z-index: -1;
}
.fondo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.fondo::before{
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.655);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.contenedor {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: flex;
    position: relative;
    width: 1200px;
    height: 600px;
    border: 2px solid rgb(191, 191, 191);
    border-radius: 30px;
    background-color: white;
    z-index: 1;
    overflow: hidden;
    box-sizing: border-box;
    padding: 2rem 5rem 2rem 3rem;
}
.izquierda {
    width: 40%;
    height: 100%;
}
.derecha{
    width: 60%;
    height: 100%;
    background-color: aqua;
}