.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    position: relative;
    top: -15px;
    box-sizing: border-box;
}

.fila1 {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.fila2 {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.fila3 {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.fila4 {
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.cuadrado1 {
    box-sizing: border-box;
    height: 100%;
    width: 30%;
    border-radius: 30px;
    border: 1px solid rgb(191, 191, 191);
    overflow: hidden;
}

.cuadrado1 button {
    background-color: #f978ce;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    padding: 5px 30px;
    font-size: 18px;
    width: 70%;
}
.contImagen {
    height: 50%;
    width: 100%;
    background-color: #c2c2c2;
}
.contenidoTexto {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0.5rem 1.5rem;
    text-align: left;
}
.contenidoTexto p {
    margin: 0;
    font-size: 14px;
    line-height: 110%;
}
.contCircles {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100%;
    width: 30%;
}
.circle {
    background-color: #5175f4;
    height: 100%;
    border-radius: 50% 50% 0 0;
}

@media only screen and (max-width: 768px) {
    .centrar {
      padding: 0 6rem;
      height: auto;
    }
    .fila1, .fila2, .fila3, .fila4 {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin: 0;
    }
    .cuadrado1 {
        height: 80vh;
        width: 100%;
        margin-bottom: 3rem;
    }
    .contImagen {
        height: 50%;
        width: 100%;
        background-color: #c2c2c2;
    }
    .contenidoTexto {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        padding: 0.5rem 1.5rem;
        text-align: left;
    }
    .contCircles {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        height: 80vh;
        width: 100%;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .centrar {
        padding: 0 1rem;
      }
    .fila1, .fila2, .fila3, .fila4 {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin: 0;
    }
    .cuadrado1 {
        height: 80vh;
        width: 100%;
        margin-bottom: 3rem;
    }
    .contCircles {
        height: 80vh;
        width: 100%;
        margin-bottom: 3rem;
    }
}